<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>BibTextittäjä 3000</title>
</head>

<body>
  <div class="header">
    <h1>BibTextittäjä 3000</h1>
  </div>
  <div class="toolbar">
    <p>
      <a href="/new_reference" class="button">Lisää Lähde</a>
    </p>
    <form action="/search" method="get" class="search-form">
    <p>
      Hae lähdettä:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <p>
      Aikaväliltä:
      <input type="number" id="mindate" name="mindate" min="0" max="2025" />
      <input type="number" id="maxdate" name="maxdate" min="0" max="2025" />
    </p>
    <p>
      Kirjoittajan nimi:
      <input type="text" id="author" name="author" />
    </p>
    <Button type="submit" class="button">Hae</Button>
  </form>
    <p>
      <a href="/download_bibtex" class="button">Lataa lähteet BibTeX-muodossa</a>
    </p>
     </div>

  <div class="references">
    <h2 style="text-align: center;">Luodut lähteet:</h2>
    <div class="columns">
      <div class="column">
        <h3>Luodut kirjat:</h3>
        <ul class="ref-list">
          {% for book in books %}
          <li><a href="/reference/{{ book.type }}/{{ book.id }}">{{ book.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column">
        <h3>Luodut artikkelit:</h3>
        <ul class="ref-list">
          {% for article in articles %}
          <li><a href="/reference/{{ article.type }}/{{ article.id }}">{{ article.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

<div class="footer">
  <p>Siellä on projekti siellä ohtussa</p>
</div>
</body>
</html> 