<!DOCTYPE html>
<html>

<head>
  <title>BibTextittäjä 3000</title>
</head>

<body>
  <h1>BibTextittäjä 3000</h1>
    <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
  <p>
    <a href="/new_reference">Lisää Lähde</a>
  </p>

  <h2>Luodut lähteet</h2>
  <ul>
  {% for reference in references %}
  <li><a href="/reference/{{ reference.type }}/{{ reference.id }}">{{ reference.name }}</a></li>
  {% endfor %}
  </ul>

</body>
</html> 