<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Lisää lähde</title>
  <!-- näkyy vain yksi lomake kerrallaan -->
  <style>
    #all_references form { display:none;}
    #all_references.f-Kirja form[name=Kirja],
    #all_references.f-Artikkeli form[name=Artikkeli] { display:block;}
  </style>
</head>
<body>
  <div class="header">
    <h1>Uusi lähde</h1>
  </div>

  <div class="page-container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash error"><b>VIRHE!</b><br />
        {% for message in messages %}
          {{ message }}<br />
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <label for="reference_selector">Valitse lähdetyyppi:</label>
    <select id="reference_selector">
      <option value="_" {% if not selected %}selected disabled{% else %}disabled{% endif %}>Valitse</option>
      <option value="Kirja" {% if selected == 'Kirja' %}selected{% endif %}>Kirja</option>
      <option value="Artikkeli" {% if selected == 'Artikkeli' %}selected{% endif %}>Artikkeli</option>
    </select>

    <h3 style="text-align: center;">Uusi lähde:</h3>
    <div id="all_references" class="f-{{ selected }}">
      <form name="Kirja" action="/create_book" method="POST">
        <p>
          <label for="book-name">Lähteen nimi</label>
          <input type="text" id="book-name" name="name" value="{{ book_name }}"/>
        </p>
        <p>
          <label for="book-author">Kirjoittaja</label>
          <input type="text" id="book-author" name="author" value="{{ book_author }}" />
        </p>
        <p>
          <label for="book-editor">Editoija</label>
          <input type="text" id="book-editor" name="editor" value="{{ book_editor }}"/>
        </p>
        <p>
          <label for="book-title">Kirjan nimi</label>
          <input type="text" id="book-title" name="title" value="{{ book_title }}"/>
        </p>
        <p>
          <label for="book-publisher">Julkaisija</label>
          <input type="text" id="book-publisher" name="publisher" value="{{ book_publisher }}"/>
        </p>
        <p>
          <label for="book-year">Julkaisuvuosi</label>
          <input type="number" id="book-year" name="year" value="{{ book_year }}"/>
        </p>
        <p>
          <label for="book-note">Muistiinpano</label>
          <input type="text" id="book-note" name="note" value="{{ book_note }}"/>
        </p>

        <input type="submit" value="Lisää Lähde" />
      </form>

      <form name="Artikkeli" action="/create_article" method="POST">
        <p>
          <label for="article-name">Lähteen nimi</label>
          <input type="text" id="article-name" name="name" value="{{ article_name }}"/>
        </p>
        <p>
          <label for="article-author">Kirjoittaja</label>
          <input type="text" id="article-author" name="author" value="{{ article_author }}"/>
        </p>
        <p>
          <label for="article-journal">Julkaisu</label>
          <input type="text" id="article-journal" name="journal" value="{{ article_journal }}"/>
        </p>
        <p>
          <label for="article-title">Artikkelin nimi</label>
          <input type="text" id="article-title" name="title" value="{{ article_title }}"/>
        </p>
        <p>
          <label for="article-year">Julkaisuvuosi</label>
          <input type="number" id="article-year" name="year" value="{{ article_year }}"/>
        </p>
        <p>
          <label for="article-note">Muistiinpano</label>
          <input type="text" id="article-note" name="note" value="{{ article_note }}"/>
        </p>

        <input type="submit" value="Lisää Lähde" />
      </form>
    </div>

    <h3 style="text-align: center;">Täytä kentät DOI tunnisteella:</h3>
    <form name="DOI" action="/fill_from_doi" method="POST">
      <p>
        <label for="doi-tag">DOI tunnus:</label>
        <input type="text" id="doi-tag" name="doi"/>
      </p>
      <input type="submit" value="Täytä kentät" />
    </form>

    <script>
      const referenceSelect = document.getElementById("reference_selector"),
      allReferences = document.getElementById('all_references');

      referenceSelect.oninput=()=>{ allReferences.className = `f-${referenceSelect.value}` }


      document.addEventListener('DOMContentLoaded', () => {
        const preset = "{{ selected|default('') }}";
        const urlType = new URLSearchParams(window.location.search).get('type');
        const toOpen = preset || urlType;

        if (toOpen === 'Kirja' || toOpen === 'Artikkeli') {
          referenceSelect.value = toOpen;
          allReferences.className = `f-${toOpen}`;
          }
      });
    </script>
    <p style="text-align: center;">
      <a href="/" class="button">Etusivulle</a>
    </p>
  </div>

<div class="footer">
  <p>Siellä on projekti siellä ohtussa</p>
</div>

</body>
</html>