<!DOCTYPE html>
<html>
<head>
  <title>Lisää lähde</title>
  <!-- näkyy vain yksi lomake kerrallaan -->
  <style>
    #all_references form { display:none;}
    #all_references.f-Kirja form[name=Kirja],
    #all_references.f-Artikkeli form[name=Artikkeli] { display:block;}
  </style>
</head>
<body>
  <h1>Uusi lähde</h1> 

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div><b>VIRHE!</b></div>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h4>Valitse lähdetyyppi:</h4>
  <select id="reference_selector">
    <option value="_" {% if not selected %}selected disabled{% else %}disabled{% endif %}>Valitse</option>
    <option value="Kirja" {% if selected == 'Kirja' %}selected{% endif %}>Kirja</option>
    <option value="Artikkeli" {% if selected == 'Artikkeli' %}selected{% endif %}>Artikkeli</option>
  </select>

  <h5>Uusi lähde</h5>
  <div id="all_references" class="f-{{ selected }}">
    <form name="Kirja" action="/create_book" method="POST">
      <p>
        Lähteen nimi: <input type="text" name="name" value="{{ book_name }}"/>
      </p>
      <p>
        Kirjoittaja: <input type="text" name="author" value="{{ book_author }}"/>
      </p>
      <p>
        Editoija: <input type="text" name="editor" value="{{ book_editor }}"/>
      </p>
      <p>
        Kirjan nimi: <input type="text" name="title" value="{{ book_title }}"/>
      </p>
      <p>
        Julkaisija: <input type="text" name="publisher" value="{{ book_publisher }}"/>
      </p>
      <p>
        Julkaisu vuosi: <input type="number" name="year" value="{{ book_year }}"/>
      </p>
      <p>
        Muistiipano: <input type="text" name="note" value="{{ book_note }}"/>
      </p>

      <input type="submit" value="Lisää Lähde"/>

    </form>

        <form name="Artikkeli" action="/create_article" method="POST">
      <p>
        Lähteen nimi: <input type="text" name="name" value="{{ article_name }}"/>
      </p>
      <p>
        Kirjoittaja: <input type="text" name="author" value="{{ article_author }}"/>
      </p>
      <p>
        Julkaisu: <input type="text" name="journal" value="{{ article_journal }}"/>
      </p>
      <p>
        Artikkelin nimi: <input type="text" name="title" value="{{ article_title }}"/>
      </p>
      <p>
        Julkaisu vuosi: <input type="number" name="year" value="{{ article_year }}"/>
      </p>
      <p>
        Muistiipano: <input type="text" name="note" value="{{ article_note }}"/>
      </p>

      <input type="submit" value="Lisää Lähde"/>

    </form>
  </div>

  <script>
    const referenceSelect = document.getElementById("reference_selector"),
    allReferences = document.getElementById('all_references');

    referenceSelect.oninput=()=>{ allReferences.className = `f-${referenceSelect.value}` }

    document.addEventListener('DOMContentLoaded', () => {
      const preset = "{{ selected|default('') }}";
      const urlType = new URLSearchParams(window.location.search).get('type');
      const toOpen = preset || urlType;

      if (toOpen === 'Kirja' || toOpen === 'Artikkeli') {
        referenceSelect.value = toOpen;
        allReferences.className = `f-${toOpen}`;
        }
    });
  </script>
  <p>
    <a href="/">Etusivulle</a>
  </p>

</body>

</html>