<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Lähde</title>
</head>
<body>

  <div class="header">
    <h1>{{ reference.name }}</h1> 
  </div>
  <div class="page-container">
    <table class="ref-table">
      <tr><td class="label">Otsikko</td><td class="value">{{ reference.title }}</td></tr>
      <tr><td class="label">Kirjoittaja</td><td class="value">{{ reference.author }}</td></tr>
      <tr><td class="label">Julkaisuvuosi</td><td class="value">{{ reference.year }}</td></tr>

      {% if reference.journal %}
      <tr><td class="label">Julkaisu</td><td class="value">{{ reference.journal }}</td></tr>
      {% endif %}

      {% if reference.publisher %}
      <tr><td class="label">Kustantaja</td><td class="value">{{ reference.publisher }}</td></tr>
      {% endif %}

      {% if reference.editor %}
      <tr><td class="label">Toimittaja</td><td class="value">{{ reference.editor }}</td></tr>
      {% endif %}

      {% if reference.note %}
      <tr><td class="label">Muistiinpanot</td><td class="value">{{ reference.note }}</td></tr>
      {% endif %}
    </table>

    <script id="bibtex" type="text/plain">
    {{ create_bibtex(reference, ref)|safe }}
    </script>

    <script>
    function copyBibtex() {
        const bib = document.getElementById("bibtex").textContent.trim();
        navigator.clipboard.writeText(bib);
    }
    </script>

  <div style="text-align: center; margin-top: 12px;">
    <button onclick="copyBibtex()" class="button">Kopioi BibTeX</button>
  </div>
    <p style="text-align: center;">
      <a href="/" class="button">Etusivulle</a>
    </p>
  </div>

<div class="footer">
  <p>miniproggis</p>
</div>
</body>
</html>